body {
  margin: 0;
  background-color: #006400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;    
  gap: 20px;               
}

.card {
  background-color: white;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  font-family: 'Georgia', serif;
}

.card::before {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 40px;
}

.card::after {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 40px;
  transform: rotate(180deg);
}

.card.spade::before,
.card.spade::after {
  content: "♠";
}

.card.heart::before,
.card.heart::after {
  content: "♥";
  color: red;
}

.card.diamond::before,
.card.diamond::after {
  content: "♦";
  color: red;
}

.card.club::before,
.card.club::after {
  content: "♣";
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 0 1px black;
}